<h1>Stupid Coaching</h1>
<div class="worker">
  <p><%= @question %></p>
  <p>- You</p>
</div>
<div class="coach">
  <p><%= @answer %></p>
  <p>- Your coach</p>
</div>

<div class="btn btn-success font-weight-bold">
  <%= link_to "Ask a new question", ask_path %>
</div>
