<h1>Stupid Coaching</h1>

<form action="answer" class="form-inline">
  <div class="input-group mb-2 mr-sm-">
    <div class="input-group-prepend">
      <div class="input-group-text">@coach</div>
    </div>
    <input type="text" placeholder="Ask anything" class="input-question"
    name="ask">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
